.env
.env.*
!.env.example
.git
.gitignore
vendor
node_modules
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
public/storage
.phpunit.cache
.phpunit.result.cache
Dockerfile
compose*.yaml
*.log
# halo